/* Google font imports */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Shared Style */

.para-texts {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
.button-style {
  padding: 12px 20px 12px 20px;
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 19, 33);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.section-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 24px;
}
/* Navbar style */
.navbar {
  width: 100%;
  max-width: 1440px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  margin: 0 auto;
  padding: 0 150px;
}

.navbar h3 {
  color: rgb(13, 19, 33);
  font-family: "Azeret Mono", monospace;
  font-size: 28px;
  font-weight: 800;
}

/* hero area styles */
.hero-area {
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  background: url(../assets/hero_bg.png);
  background-repeat: no-repeat;
}
.hero-area-contents {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-area-contents img {
  width: 240.28px;
  height: 240px;
  margin-bottom: 32px;
}
.hero-area-contents h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}
.hero-area-contents p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 32px;
}
.hero-area-contents button {
  width: 208px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
}

/* why web development section style */
.why-web {
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
  margin-top: 74px;
  background-color: rgba(13, 19, 33, 0.02);
}
.why-web-contents {
  width: 946px;
  height: 1235px;
  margin: 0 auto;
  margin: 0 97px;
}
.why-web-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-web-text-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 48px;
}
.why-web-cards {
  width: 946px;
  height: 336px;
}
.why-web-card-contents {
  width: 850px;
  height: 240px;
  margin: 48px;
  display: flex;
  column-gap: 48.8px;
}
.why-web-card-text-contents h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
}

.why-web-card-text-contents p {
  margin-top: 16px;
  margin-bottom: 32px;
}

/* my inspiration section style */
.my-inspiration {
  width: 1140px;
  height: 775px;
  /* border: 2px solid red; */
  margin: 0 auto;
}
.my-inspiratin-text-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.my-inspiration-frmae-border {
  width: 1140px;
  height: 614px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.my-inspiration-frame {
  width: 1076px;
  height: 550px;
  margin: 0 auto;
}
.my-inspiration-frame iframe {
  width: 100%;
  height: 100%;
}
